# proto
.gen
.proto-export
.proto-export-deps
proto-js/build
proto-js/node_modules
proto-js/src
proto-py/build
proto-py/dist
proto-py/v4_proto
proto-py/v4_proto.egg-info/
proto-rs/Cargo.lock
proto-rs/target

# dev
**/.DS_Store
.aider*
.idea
.vscode
protocol/.gitignore
protocol/docker-compose.yml
protocol/testing/genesis.sh
