version: "3"

services:
  vindaxd0:
    image: local:vindax
    entrypoint:
      - cosmovisor
      - run
      - start
      - --log_level
      # Note that only this validator has a log-level of `info`; other validators use `error` by default.
      # Change to `debug` for more verbose log-level.
      - info
      - --home
      - /vindax/chain/.alice
      - --p2p.persistent_peers
      - "17e5e45691f0d01449c84fd4ae87279578cdd7ec@vindaxd0:26656,b69182310be02559483e42c77b7b104352713166@vindaxd1:26656,47539956aaa8e624e0f1d926040e54908ad0eb44@vindaxd2:26656,5882428984d83b03d0c907c1f0af343534987052@vindaxd3:26656"
      - --bridge-daemon-eth-rpc-endpoint
      - "${ETH_RPC_ENDPOINT}"
      - --dd-error-tracking-format
      - "true"
      - --max-daemon-unhealthy-seconds
      - "4294967295" # Effectively disable the daemon monitor because bridge daemon is flaky in localnet.
      - --grpc-streaming-enabled
      - "true"
      # Enable Kafka publishing to indexer Kafka inside Docker network
      # - --indexer-kafka-conn-str
      # - kafka:9092
      # - --indexer-kafka-max-retry
      # - "5"
    environment:
      # See https://docs.datadoghq.com/profiler/enabling/go/ for DD_ specific environment variables
      - DD_ENV=localnet_${USER}
      - DD_AGENT_HOST=datadog-agent
      - DAEMON_HOME=/vindax/chain/.alice
    volumes:
      - ./localnet/vindax0:/vindax/chain/.alice/data
    ports:
      - "26657:26657"
      - "9090:9090"
      - "9092:9092" # full node streaming
      - "1317:1317"
    networks:
      - default
      - indexer_default
  vindaxd1:
    image: local:vindax  
    entrypoint:
       - cosmovisor
       - run
       - start
       - --log_level
       - error
       - --home
       - /vindax/chain/.bob
       - --p2p.persistent_peers
       - "17e5e45691f0d01449c84fd4ae87279578cdd7ec@vindaxd0:26656,b69182310be02559483e42c77b7b104352713166@vindaxd1:26656,47539956aaa8e624e0f1d926040e54908ad0eb44@vindaxd2:26656,5882428984d83b03d0c907c1f0af343534987052@vindaxd3:26656"
       - --bridge-daemon-eth-rpc-endpoint
       - "${ETH_RPC_ENDPOINT}"
       - --dd-error-tracking-format
       - "true"
       - --max-daemon-unhealthy-seconds
       - "4294967295"
    environment:
      # See https://docs.datadoghq.com/profiler/enabling/go/ for DD_ specific environment variables
      - DD_ENV=localnet_${USER}
      - DD_AGENT_HOST=datadog-agent
      - DAEMON_HOME=/vindax/chain/.bob
    volumes:
      - ./localnet/vindax1:/vindax/chain/.bob/data
    ports:
      - "26658:26657"

  vindaxd2:
    image: local:vindax
    entrypoint:
       - cosmovisor
       - run
       - start
       - --log_level
       - error
       - --home
       - /vindax/chain/.carl
       - --p2p.persistent_peers
       - "17e5e45691f0d01449c84fd4ae87279578cdd7ec@vindaxd0:26656,b69182310be02559483e42c77b7b104352713166@vindaxd1:26656,47539956aaa8e624e0f1d926040e54908ad0eb44@vindaxd2:26656,5882428984d83b03d0c907c1f0af343534987052@vindaxd3:26656"
       - --bridge-daemon-eth-rpc-endpoint
       - "${ETH_RPC_ENDPOINT}"
       - --dd-error-tracking-format
       - "true"
       - --max-daemon-unhealthy-seconds
       - "4294967295"
    environment:
      # See https://docs.datadoghq.com/profiler/enabling/go/ for DD_ specific environment variables
      - DD_ENV=localnet_${USER}
      - DD_AGENT_HOST=datadog-agent
      - DAEMON_HOME=/vindax/chain/.carl
    volumes:
      - ./localnet/vindax2:/vindax/chain/.carl/data

  vindaxd3:
    image: local:vindax
    entrypoint:
       - cosmovisor
       - run
       - start
       - --log_level
       - error
       - --home
       - /vindax/chain/.dave
       - --p2p.persistent_peers
       - "17e5e45691f0d01449c84fd4ae87279578cdd7ec@vindaxd0:26656,b69182310be02559483e42c77b7b104352713166@vindaxd1:26656,47539956aaa8e624e0f1d926040e54908ad0eb44@vindaxd2:26656,5882428984d83b03d0c907c1f0af343534987052@vindaxd3:26656"
       - --bridge-daemon-eth-rpc-endpoint
       - "${ETH_RPC_ENDPOINT}"
       - --dd-error-tracking-format
       - "true"
       - --max-daemon-unhealthy-seconds
       - "4294967295"
    environment:
      # See https://docs.datadoghq.com/profiler/enabling/go/ for DD_ specific environment variables
      - DD_ENV=localnet_${USER}
      - DD_AGENT_HOST=datadog-agent
      - DAEMON_HOME=/vindax/chain/.dave
    volumes:
      - ./localnet/vindax3:/vindax/chain/.dave/data
  slinky0:
    image: ghcr.io/vindax/slinky-sidecar:v1.3.3
    entrypoint: [
      "slinky",
      "--market-map-endpoint", "vindaxd0:9090",
    ]
    ports:
      - "8080:8080"
      - "8002:8002" # metrics

  prometheus:
    image: prom/prometheus:latest
    volumes:
      - ./contrib/prometheus:/etc/prometheus/
    ports:
      - "9091:9090"
  datadog-agent:
    image: public.ecr.aws/datadog/agent:7
    environment:
      # See https://docs.datadoghq.com/containers/docker/?tab=standard#environment-variables for agent configuration
      - DD_API_KEY=${DD_API_KEY}
      - DD_APM_ENABLED=true
      - DD_APM_NON_LOCAL_TRAFFIC=true
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    ports:
      - "8125:8215"
      - "8126:8126"

networks:
  indexer_default:
    external: true
